.MuiToolbar-root.MuiToolbar-gutters img {
    max-width: 40px;
    width: 35px;
    margin-right: 10px;
}

.MuiToolbar-root.MuiToolbar-gutters h4 {
    color: var(--brown-color);
    font-weight: 700;
    font-size: 30px;
}

li.MuiListItem-root.MuiListItem-gutters.css-1nxmd3h-MuiListItem-root {
    transition: all 0.5s;
    margin-bottom: 20px;
}

li.MuiListItem-root.MuiListItem-gutters.css-1nxmd3h-MuiListItem-root:hover{
    background-color: var(--brown-color);
    color: white;
}

.css-hyum1k-MuiToolbar-root {
    min-height: 80px !important;
}

#navInnerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}
button.nav-btn{
    color: var(--text-color);
    width: 76%;
    padding: 12px 0;
    font-size: 20px;
    text-transform: capitalize;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #0000001c;
    margin: 30px 0;
}

button.nav-btn span.plusIcon {
    margin-left: 10px;
}

button.nav-btn span.plusIcon svg {
    color: var(--brown-color);
    font-size: 32px;
}

.headerAlignCust {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header.MuiPaper-root {
    background-color:var(--gold-color);
}

button.header-btn{
    background-color: var(--brown-color);
    color: white;
    width: 15%;
    transition: all 0.5s;
    padding: 10px 0;
}

button.header-btn:hover{
    background-color: white;
    color: var(--brown-color);
}

button.header-btn span.plusIcon {
    margin-left: 10px;
}

button.header-btn span.plusIcon svg {
    color: var(--gold-color);
    font-size: 32px;
}