div#MainHome {
    width: 92%;
    margin: 0 auto;
}

#MainHome .mainBox {
    box-shadow: 1px 1px 12px #0000002e;
    border-radius: 10px;
    padding:15px 30px;
    margin:20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#MainHome .mainBox .vectorArea img {
    width: 90%;
}

#MainHome .mainBox .textArea {
    padding: 0 50px;
}

#MainHome .mainBox .textArea h1{
    font-size: 44px;
    color: var(--text-color);
    font-weight: 700;
    margin-bottom: 25px;
}

#MainHome .mainBox .textArea h5{
    color: var(--text-color);
    font-weight: 500;
    font-size: 20px;
}

div#MainHome .listArea{
    margin: 80px 0;
}

div#MainHome .topHeadings {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.tasksArea {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tasksArea h3 {
    text-align: center;
    color: black;
    font-size: 15px;
}

.tasksArea .box1 {
    border: 1px solid red;
    height: 180px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}